@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
* {
    font-family: 'Manrope', sans-serif;
}

.card {
    /* Add shadows to create the "card" effect */
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    width: 54%;
    height: 40%;
}

.left {
    float: left;
}

#mainImage {
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.right {
    float: right;
    padding: 0 30px;
}

#title {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin-block-end: 5px;
}

#detail {
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: hsl(214, 17%, 51%);
    margin-block-end: 0px;
}

#avatar,
.author,
#share {
    display: inline-block;
}

.author {
    line-height: 10px;
    font-size: 13px;
    align-items: center;
    margin-left: 10px;
}

#avatar {
    margin-top: 10px;
}

#name {
    font-weight: 700;
}

#date {
    font-weight: 500;
    color: hsl(214, 17%, 51%);
}

#share {
    margin-left: 200px;
    margin-top: 0px;
    align-content: center;
    background-color: hsl(210, 46%, 95%);
    padding: 10px;
    border-radius: 100%;
}

#text {
    font-size: 13px;
    letter-spacing: 5px;
    opacity: 0.4;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    display: inline-flex;
    justify-content: center;
}

#fb,
#tw,
#pt {
    width: 10%;
    height: 15%;
    padding: 8px;
    margin-block-start: 2px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    /* z-index: 1; */
    bottom: 125%;
    left: 68%;
    margin-left: -60px;
    /* opacity: 0; */
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#share:hover {
    background-color: hsl(217, 19%, 35%);
    border-image: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

#avatar {
    border-radius: 100%;
    width: 10%;
    height: 15%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
    .card {
        width: 74%;
        height: 92%;
    }
    #mainImage {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        height: 47%;
    }
    .right {
        position: absolute;
        margin-block-start: 85%;
    }
    #title {
        font-size: 20px;
    }
    #detail {
        width: 86%;
        margin-block-end: 15px;
    }
    #avatar {
        width: 13%;
        height: 18%;
    }
    #share {
        margin-inline-start: 110px;
    }
}